<h1>Import Movies</h1>
<% if notice %>
  <p>
    <%= notice %>
  </p>
<% end %>
<%= link_to "Back to movies", movies_path %>
<%= form_with url: movies_import_movies_path, multipart: true do |form| %>
   <div>
    <%= form.label :file, "File" %>
    <%= form.file_field :file %>
  </div>
  
   <%= form.submit "Import" %>
<% end %>
